## **EDA Análisis exploratorio de los datos: Regresión Lineal**

In [89]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
import seaborn as sns

In [95]:
route = './data/HISTORICO_SUERTES.xlsx'
df = pd.read_excel(route)

PermissionError: [Errno 13] Permission denied: './data/HISTORICO_SUERTES.xlsx'

In [ ]:
df_clean = df.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21027 entries, 0 to 21026
Data columns (total 85 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Período                    21027 non-null  int64
 1   Hacienda                   21027 non-null  int64
 2   Nombre                     21027 non-null  object
 3   Zona                       21027 non-null  object
 4   Tenencia                   21026 non-null  float64
 5   Suerte                     21027 non-null  object
 6   Suelo                      17269 non-null  object
 7   Area Neta                  21027 non-null  float64
 8   Dist Km                    21022 non-null  float64
 9   Variedad                   21027 non-null  object
 10  Cod.Estado #               21027 non-null  int64
 11  Cod.Estado                 21027 non-null  object
 12  F.Siembra                  21027 non-null  datetime64[ns]
 13  D.S.                       7168 non-null   object
 14  Ult.Riego                  8470 non-null   datetime64[ns]
 15  Edad Ult Cos               21027 non-null  float64
 16  F.Ult.Corte                21027 non-null  datetime64[ns]
 17  Destino 1=Semilla          21027 non-null  int64
 18  Cod. T.Cultivo             21025 non-null  float64
 19  Cultivo                    21025 non-null  object
 20  Fec.Madur.                 11252 non-null  datetime64[ns]
 21  Producto                   11249 non-null  object
 22  Dosis Madurante            20923 non-null  float64
 23  Semanas mad.               11252 non-null  float64
 24  TonUltCorte                21027 non-null  float64
 25  TCH                        21027 non-null  float64
 26  TCHM                       21027 non-null  float64
 27  Ton.Azucar                 20786 non-null  float64
 28  Rdto                       20760 non-null  float64
 29  TAH                        20786 non-null  float64
 30  TAHM                       20786 non-null  float64
 31  Sac.Caña Precosecha        19929 non-null  float64
 32  Edad.Precosecha            8919 non-null   float64
 33  %Sac.Caña                  20578 non-null  float64
 34  %Sac.Muestreadora          19169 non-null  float64
 35  %ATR                       20505 non-null  float64
 36  KATRHM                     20505 non-null  float64
 37  %Fibra Caña                19169 non-null  float64
 38  %AR Jugo                   18903 non-null  float64
 39  %ME Min                    19305 non-null  float64
 40  %ME Veg                    19307 non-null  float64
 41  %ME Tot                    19307 non-null  float64
 42  Brix                       20760 non-null  float64
 43  Pureza                     20758 non-null  float64
 44  Vejez                      18582 non-null  float64
 45  Tipo Quema                 21027 non-null  object
 46  T.Corte                    21027 non-null  object
 47  Cerca de                   20901 non-null  object
 48  Cosechó                    21027 non-null  object
 49  Num.Riegos                 8438 non-null   float64
 50  M3 Riego                   21027 non-null  float64
 51  DDUlt.Riego                21027 non-null  int64
 52  Lluvias (2 Meses Ant.)     21027 non-null  float64
 53  Lluvias Ciclo              21027 non-null  float64
 54  Lluvias 0 -3               21027 non-null  float64
 55  Lluvias tres a seis        21027 non-null  float64
 56  Lluvias seis a nueve       21027 non-null  float64
 57  Luvias 9 -FC               21027 non-null  float64
 58  %Infest.Diatrea            5600 non-null   float64
 59  Fosfato Jugo               19169 non-null  float64
 60  Fert.Nitrogen.             0 non-null      float64
 61  Urea 46%                   723 non-null    float64
 62  MEZ                        971 non-null    float64
 63  Boro Granul.               1285 non-null   float64
 64  MicroZinc                  1149 non-null   float64
 65  NITO_XTEND                 3679 non-null   float64
 66  Sul.Amonio                 1357 non-null   float64
 67  NITRAX-S                   748 non-null    float64
 68  Vinaza                     4098 non-null   float64
 69  Codigo Estacion            6285 non-null   object
 70  Temp. Media 0-3            4530 non-null   float64
 71  Temp. Media Ciclo          4530 non-null   float64
 72  Temp Max Ciclo             4530 non-null   float64
 73  Temp Min Ciclo             4530 non-null   float64
 74  Humedad Rel Media 0-3      4530 non-null   float64
 75  Humedad Rel Media Ciclo    4530 non-null   float64
 76  Oscilacion Temp Med 0-3    4530 non-null   float64
 77  Oscilacion Temp Ciclo      4530 non-null   float64
 78  Sum Oscilacion Temp Ciclo  0 non-null      float64
 79  Radicion Solar 0-3         4530 non-null   float64
 80  Radiacion Solar Ciclo      4530 non-null   float64
 81  Precipitacion 0_3          4530 non-null   float64
 82  Precipitacion Ciclo        4530 non-null   float64
 83  Evaporacion 0-3            4530 non-null   float64
 84  Evaporacion Ciclo          4530 non-null   float64
dtypes: datetime64[ns](4), float64(62), int64(5), object(14)
memory usage: 13.6+ MB

In [ ]:
df.head(5)

,Período,Hacienda,Nombre,Zona,Tenencia,Suerte,Suelo,Area Neta,Dist Km,Variedad,...,Humedad Rel Media Ciclo,Oscilacion Temp Med 0-3,Oscilacion Temp Ciclo,Sum Oscilacion Temp Ciclo,Radicion Solar 0-3,Radiacion Solar Ciclo,Precipitacion 0_3,Precipitacion Ciclo,Evaporacion 0-3,Evaporacion Ciclo
0,201701,80493,LA CONCHA,IP02,51.0,002A,CANTARINA,6.00,4.3,CC85-92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201701,81284,UKRANIA INCAUCA,IP05,81.0,039B,NaN,1.45,NaN,CC85-92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201701,80203,EL AMPARO SAA,IP05,31.0,007,CORINTIAS,8.24,23.0,CC01-1228,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201701,81380,SAN JUDAS INCAUCA,IP05,82.0,013A,NaN,1.05,66.5,CC01-1940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201701,80298,JAVA,IP06,31.0,025A,GALPON,4.53,17.0,RB73-2223,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

---
## **Limpieza y preparación de datos**

#### **Data Leakage**
Se identifican variables no relevantes relacionadas con información de las haciendas.

In [ ]:
DATA_LEAKAGE = ['Hacienda', 'Nombre', 'Zona', 'Codigo Estacion']

#### **Datos Nulos**
Se extraen porcentajes de nulos para identificar features a eliminar, a imputar y si existen similitudes entre las mismas.

In [ ]:
null_percent = df.isnull().mean() * 100
null_percent.sort_values(ascending=False).head(50)

Sum Oscilacion Temp Ciclo    100.000000
Fert.Nitrogen.               100.000000
Urea 46%                      96.561564
NITRAX-S                      96.442669
MEZ                           95.382128
MicroZinc                     94.535597
Boro Granul.                  93.888810
Sul.Amonio                    93.546393
NITO_XTEND                    82.503448
Vinaza                        80.510772
Humedad Rel Media Ciclo       78.456271
Temp. Media 0-3               78.456271
Oscilacion Temp Med 0-3       78.456271
Temp. Media Ciclo             78.456271
Temp Max Ciclo                78.456271
Humedad Rel Media 0-3         78.456271
Radiacion Solar Ciclo         78.456271
Evaporacion 0-3               78.456271
Precipitacion Ciclo           78.456271
Evaporacion Ciclo             78.456271
Temp Min Ciclo                78.456271
Oscilacion Temp Ciclo         78.456271
Radicion Solar 0-3            78.456271
Precipitacion 0_3             78.456271
%Infest.Diatrea               73.367575
Codigo Estacion               70.109859
D.S.                          65.910496
Num.Riegos                    59.870643
Ult.Riego                     59.718457
Edad.Precosecha               57.583107
Producto                      46.502116
Fec.Madur.                    46.487849
Semanas mad.                  46.487849
Suelo                         17.872259
Vejez                         11.627907
%AR Jugo                      10.101298
%Sac.Muestreadora              8.836258
Fosfato Jugo                   8.836258
%Fibra Caña                    8.836258
%ME Min                        8.189471
%ME Veg                        8.179959
%ME Tot                        8.179959
Sac.Caña Precosecha            5.221858
%ATR                           2.482522
KATRHM                         2.482522
%Sac.Caña                      2.135350
Pureza                         1.279308
Rdto                           1.269796
Brix                           1.269796
TAH                            1.146145
dtype: float64

#### **Columnas Vacías**

Eliminamos columnas vacías del Df

In [ ]:
COLUMNS_TO_DROP = ['Sum Oscilacion Temp Ciclo', 'Fert.Nitrogen.']

#### **Chem Features**

Se observan columnas con porcentajes de nulos demasiado altos [99% - 80%]. Parecen columnas relacionadas a productos o químicos que se utilizaron en la plantación, su ausencia podría indicar que el producto no se usó. Se imputarán con 0's.

In [ ]:
CHEM_FEATURES = ['Urea 46%', 'NITRAX-S', 'MEZ', 'NITO_XTEND', 'Vinaza', 'MicroZinc', 'Boro Granul.', 'Sul.Amonio']

#### **Weather Features**
Se observa un porcentaje en comun con variables relacionadas con condiciones climáticas (78.456271%) por esa razón, se procede a agruparlas en la categoría de weather features

In [ ]:
WEATHER_FEATURES = ['Humedad Rel Media Ciclo', 'Temp. Media 0-3', 'Oscilacion Temp Med 0-3', 'Temp. Media Ciclo', 'Temp Max Ciclo', 'Humedad Rel Media 0-3 ', 'Radiacion Solar Ciclo', 'Evaporacion 0-3', 'Precipitacion Ciclo', 'Evaporacion Ciclo', 'Temp Min Ciclo', 'Oscilacion Temp Ciclo', 'Radicion Solar 0-3', 'Precipitacion 0_3']

In [ ]:
df_filtered_weather = df.dropna(subset=WEATHER_FEATURES, how="any")
df_filtered_weather.head(3)

,Período,Hacienda,Nombre,Zona,Tenencia,Suerte,Suelo,Area Neta,Dist Km,Variedad,...,Humedad Rel Media Ciclo,Oscilacion Temp Med 0-3,Oscilacion Temp Ciclo,Sum Oscilacion Temp Ciclo,Radicion Solar 0-3,Radiacion Solar Ciclo,Precipitacion 0_3,Precipitacion Ciclo,Evaporacion 0-3,Evaporacion Ciclo
13972,202202,80101,PROVIDENCIA,IP01,11.0,012,PALMIRA,15.61,2.2,CC05-430,...,81.756,14.8,22.763,NaN,419.966,422.141,510.8,1523.1,420.8,1744.2
13973,202202,80101,PROVIDENCIA,IP01,11.0,019C,PALMIRA,6.46,2.2,CC09-535,...,81.756,14.8,22.763,NaN,419.966,422.141,510.8,1523.1,420.8,1744.2
13974,202202,80102,LA PAZ,IP01,11.0,050A,ESMERALDA,13.15,1.8,CC05-430,...,81.713,14.8,22.763,NaN,423.232,423.395,468.1,1422.3,421.7,1716.2

In [ ]:
df_filtered_weather.tail(3)

,Período,Hacienda,Nombre,Zona,Tenencia,Suerte,Suelo,Area Neta,Dist Km,Variedad,...,Humedad Rel Media Ciclo,Oscilacion Temp Med 0-3,Oscilacion Temp Ciclo,Sum Oscilacion Temp Ciclo,Radicion Solar 0-3,Radiacion Solar Ciclo,Precipitacion 0_3,Precipitacion Ciclo,Evaporacion 0-3,Evaporacion Ciclo
21024,202407,80102,LA PAZ,IP01,11.0,054E,LA PAZ,1.85,1.8,CC05-430,...,78.704,17.8,30.945,NaN,461.663,444.528,168.7,1041.6,536.4,1867.2
21025,202407,80104,SAMARIA,IP02,11.0,165,PALMIRA,31.42,3.5,CC05-430,...,78.720,17.8,31.040,NaN,467.911,444.839,177.3,1037.8,544.2,1843.9
21026,202407,80124,SANTA LUCIA,IP02,11.0,001,CORINTIAS,2.22,1.1,CC05-430,...,78.687,17.8,30.890,NaN,459.274,444.372,119.8,1041.6,532.5,1881.2

In [93]:
df_filtered_weather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4530 entries, 13972 to 21026
Data columns (total 85 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Período                    4530 non-null   int64
 1   Hacienda                   4530 non-null   int64
 2   Nombre                     4530 non-null   object
 3   Zona                       4530 non-null   object
 4   Tenencia                   4530 non-null   float64
 5   Suerte                     4530 non-null   object
 6   Suelo                      4328 non-null   object
 7   Area Neta                  4530 non-null   float64
 8   Dist Km                    4530 non-null   float64
 9   Variedad                   4530 non-null   object
 10  Cod.Estado #               4530 non-null   int64
 11  Cod.Estado                 4530 non-null   object
 12  F.Siembra                  4530 non-null   datetime64[ns]
 13  D.S.                       2062 non-null   object
 14  Ult.Riego                  1942 non-null   datetime64[ns]
 15  Edad Ult Cos               4530 non-null   float64
 16  F.Ult.Corte                4530 non-null   datetime64[ns]
 17  Destino 1=Semilla          4530 non-null   int64
 18  Cod. T.Cultivo             4530 non-null   float64
 19  Cultivo                    4530 non-null   object
 20  Fec.Madur.                 2225 non-null   datetime64[ns]
 21  Producto                   2225 non-null   object
 22  Dosis Madurante            4522 non-null   float64
 23  Semanas mad.               2225 non-null   float64
 24  TonUltCorte                4530 non-null   float64
 25  TCH                        4530 non-null   float64
 26  TCHM                       4530 non-null   float64
 27  Ton.Azucar                 4453 non-null   float64
 28  Rdto                       4444 non-null   float64
 29  TAH                        4453 non-null   float64
 30  TAHM                       4453 non-null   float64
 31  Sac.Caña Precosecha        4525 non-null   float64
 32  Edad.Precosecha            13 non-null     float64
 33  %Sac.Caña                  4373 non-null   float64
 34  %Sac.Muestreadora          4220 non-null   float64
 35  %ATR                       4358 non-null   float64
 36  KATRHM                     4358 non-null   float64
 37  %Fibra Caña                4220 non-null   float64
 38  %AR Jugo                   4148 non-null   float64
 39  %ME Min                    4220 non-null   float64
 40  %ME Veg                    4220 non-null   float64
 41  %ME Tot                    4220 non-null   float64
 42  Brix                       4444 non-null   float64
 43  Pureza                     4444 non-null   float64
 44  Vejez                      4296 non-null   float64
 45  Tipo Quema                 4530 non-null   object
 46  T.Corte                    4530 non-null   object
 47  Cerca de                   4530 non-null   object
 48  Cosechó                    4530 non-null   object
 49  Num.Riegos                 1941 non-null   float64
 50  M3 Riego                   4530 non-null   float64
 51  DDUlt.Riego                4530 non-null   int64
 52  Lluvias (2 Meses Ant.)     4530 non-null   float64
 53  Lluvias Ciclo              4530 non-null   float64
 54  Lluvias 0 -3               4530 non-null   float64
 55  Lluvias tres a seis        4530 non-null   float64
 56  Lluvias seis a nueve       4530 non-null   float64
 57  Luvias 9 -FC               4530 non-null   float64
 58  %Infest.Diatrea            1578 non-null   float64
 59  Fosfato Jugo               4220 non-null   float64
 60  Fert.Nitrogen.             0 non-null      float64
 61  Urea 46%                   0 non-null      float64
 62  MEZ                        29 non-null     float64
 63  Boro Granul.               143 non-null    float64
 64  MicroZinc                  94 non-null     float64
 65  NITO_XTEND                 1066 non-null   float64
 66  Sul.Amonio                 302 non-null    float64
 67  NITRAX-S                   157 non-null    float64
 68  Vinaza                     1501 non-null   float64
 69  Codigo Estacion            4530 non-null   object
 70  Temp. Media 0-3            4530 non-null   float64
 71  Temp. Media Ciclo          4530 non-null   float64
 72  Temp Max Ciclo             4530 non-null   float64
 73  Temp Min Ciclo             4530 non-null   float64
 74  Humedad Rel Media 0-3      4530 non-null   float64
 75  Humedad Rel Media Ciclo    4530 non-null   float64
 76  Oscilacion Temp Med 0-3    4530 non-null   float64
 77  Oscilacion Temp Ciclo      4530 non-null   float64
 78  Sum Oscilacion Temp Ciclo  0 non-null      float64
 79  Radicion Solar 0-3         4530 non-null   float64
 80  Radiacion Solar Ciclo      4530 non-null   float64
 81  Precipitacion 0_3          4530 non-null   float64
 82  Precipitacion Ciclo        4530 non-null   float64
 83  Evaporacion 0-3            4530 non-null   float64
 84  Evaporacion Ciclo          4530 non-null   float64
dtypes: datetime64[ns](4), float64(62), int64(5), object(14)
memory usage: 3.0+ MB

Además, se observa que `WEATHER_FEATURES` tienen el mismo porcentaje de nulos debido a que solo se tiene estos registros de los periodos 202202 hasta 202407 (4530 registros de los 24027 registros que se tenían). 

Se tienen dos opciones, trabajar cone el dataset original y filtrar los features del clima, para trabajar así solo con otras variables, por otra parte, se puede analizar el subset de 4530 junto las variables del clima